<div class="firstMenu container-fluid" ng-controller="NavCtrl">
    <div class="row" style="margin:0; ">
        <div class="logoCp col-sm-2">Cognizant</div>
            <div class="col-sm-10 menuCp">
                <ul>
                    <li ng-repeat="item in items" ng-class="{active: isActive(item)}"><a href="#{{item.path}}"><i class="fa fa-{{item.iconMenu}}"></i>{{item.title}}</a></li>
                </ul>
            </div>
        </div>
</div>




<div class="container mainContent">

    <div ng-controller="CarouselDemoCtrl" id="slides_control">
    <div>
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" class="img-responsive">
          <div class="carousel-caption">
            <h4>{{slide.title}}</h4>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
    
</div>
<footer>Copyrights 2015</footer>