<div class="firstMenu container-fluid" ng-controller="NavCtrl">
    <div class="row" style="margin:0; ">
        <div class="logoCp col-sm-2">Cognizant</div>
            <div class="col-sm-10 menuCp">
                <ul>
                    <li ng-repeat="item in items" ng-class="{active: isActive(item)}"><a href="#{{item.path}}"><i class="fa fa-{{item.iconMenu}}"></i>{{item.title}}</a></li>
                </ul>
            </div>
        </div>
</div>
<div class="container mainContent">
<h1>Home</h1>
</div>

